
/*---------------------------------------------------------------SECTION-1 CODE----------------------------------------------------------------------------------------*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9);
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}


.menu-checkbox {
  display: none;
}


.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px){
  .menu-icon {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
  }

  #nav-menu {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.9);
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  }

  .menu-checkbox:checked + .menu-icon + #nav-menu {
      display: flex;
      transform: translateX(0);
  }


}


  
  .ico img, #icon1, #icon2 {
    display: none;
  }

  
.BGV{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  }


  video{
    filter: grayscale(20%);
  }


  .home{
    color: rgb(255, 255, 255);
    margin-top: -44px;
    text-align: center;

  }

  #Y
  {
    font-size: 45px;
    font-weight: 500;

  }

  #Pr{

    font-size: 22px;
    font-weight: 400;
    margin-top: -40px;
  }

  #L{
    margin-top: -12px;
    font-size: 14px;

  }

.bo{
 padding-top: 26%;
 text-align: center;
}

button{
  margin: 1%;
  width: 16%;
  padding: 0.8%;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

#shop{
  background-color: rgba(255, 255, 255, 0.75);
}

#demo{
  background-color: rgba(27, 24, 24, 0.75);
  color: white;
}

#lp{
  color: white;
  font-size: 14px;
  text-align: center;

}

.pl
{
  text-align: center;
}

#ll{
  color: white;
  font-size: 13px;
  margin-top: -20px;
  text-decoration: none;
  

}


.portion
{

  padding: 5%;
}


/*---------------------------------------------------------------SECTION-2 CODE----------------------------------------------------------------------------------------*/

section{

  height: 100vh;
  position: relative;
  overflow: auto;

}

.bg-v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}




/* Tablet Devices */
@media (max-width: 1024px) {
  .bo {
    padding-top: 40%;
  }

  button {
    width: 30%;
    padding: 1.2%;
  }

  #Y {
    font-size: 40px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 20px;
  }

  #L {
    font-size: 13px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 5%;
    font-size: 20px;
    width: 15%;

}


}

/* Mobile Devices */
@media (max-width: 768px) {
  .portion {
    margin-top: 20%;
  }

  .bo {
    padding-top: 40%;
  }

  button {
    width: 70%;
    padding: 2%;
    margin: 2% 0;
  }

  #Y {
    font-size: 36px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 18px;
  }

  #L {
    font-size: 12px;
  }

  #lp, #ll {
    font-size: 12px;
  }

  .nav-container {
    padding: 0 10px;
    margin: 2%;

  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 20px;
    width: 20%;

}


}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .portion {
    margin-top: 25%;
  }

  .bo {
    padding-top: 70%;
  }

  button {
    width: 90%;
    padding: 4%;
  }

  #Y {
    font-size: 32px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 16px;
  }

  #L {
    font-size: 11px;
  }

  #lp, #ll {
    font-size: 11px;
  }


  .menu-toggle {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 20px;
    width: 25%;

}

}


footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9);
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

nav ul li:hover, .menu-toggle:hover {
  background-color: rgba(126, 126, 126, 0.405);
  transition: 0.7s all;
  padding: 6px 15px;
  border-radius: 5px;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
  right: 3%;
}

.about-us-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10%;
  background-image: url('https://wallpapers.com/downloads/high/tesla-model-3-black-desktop-4i26nn4v3sabxgwg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}



.about-us-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us-content h1, .about-us-content p {
  position: relative;
  z-index: 1;
}

.about-us-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-us-content p {
  font-size: 1.2rem;
  max-width: 800px;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  nav ul {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: rgba(25, 25, 25, 0.9);
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  }

  nav ul.active {
      display: flex;
      transform: translateX(0);
  }

  nav ul li {
      margin: 20px 0;
  }

  .menu-toggle {
      display: block;
      position: absolute;
      font-size: 20px;
      margin-right: 3%;
      width: 10%;
  }

  .ico img, #icon1, #icon2 {
      display: none;
  }
}



/* Tablet Devices */
@media (max-width: 1024px) {
  .bo {
    padding-top: 40%;
  }

  button {
    width: 30%;
    padding: 1.2%;
  }

  #Y {
    font-size: 40px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 20px;
  }

  #L {
    font-size: 13px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    font-size: 20px;
    width: 15%;

}


}

/* Mobile Devices */
@media (max-width: 768px) {
  .portion {
    margin-top: 20%;
  }

  .bo {
    padding-top: 40%;
  }

  button {
    width: 70%;
    padding: 2%;
    margin: 2% 0;
  }

  #Y {
    font-size: 36px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 18px;
  }

  #L {
    font-size: 12px;
  }

  #lp, #ll {
    font-size: 12px;
  }

  .nav-container {
    padding: 0 10px;
    margin: 2%;

  }

  .menu-toggle {
    display: block;
    position: absolute;
    font-size: 20px;
    width: 20%;

}


}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .portion {
    margin-top: 25%;
  }

  .bo {
    padding-top: 70%;
  }

  button {
    width: 90%;
    padding: 4%;
  }

  #Y {
    font-size: 32px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 16px;
  }

  #L {
    font-size: 11px;
  }

  #lp, #ll {
    font-size: 11px;
  }


  .menu-toggle {
    display: block;
    position: absolute;
    font-size: 20px;
    width: 25%;

}

}
















.car-license-popup-button {
  position: fixed;
  top: 10%; 
  right: 20px;
  height: 40px;
  background: linear-gradient(240deg, #232323, #494949);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: top 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  color: white;
  width: 120px;
}
.car-license-popup-button.car-visible {
  top: 20px;
}
.car-license-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.car-license-popup-content {
  width: 55%;
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 90%;
  height: auto;
  color: black;
}
.car-license-popup-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.car-license-close-button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;
}
.car-license-close-button:hover {
  background: #2980b9;
}
.car-license-show-popup {
  display: flex;
}







footer {
background-color: #333;
color: #fff;
padding: 50px 0;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
flex-wrap: wrap;
margin-top: 3%;
}

.footer-section {
flex: 1;
margin: 10px;
}

.footer-section h4 {
margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
margin: 0;
padding: 0;
list-style: none;
}

.footer-section ul li {
margin-bottom: 5px;
}

.social-icons {
display: flex;
gap: 10px;
}

.social-icons li {
display: inline;
}

.social-icons img {
width: 24px;
height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
.footer-container {
    flex-direction: column;
    align-items: center;
}

.footer-section {
    text-align: center;
}
}

/*---------------------------------------------------------------SECTION-1 CODE----------------------------------------------------------------------------------------*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity as needed */
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

nav ul li:hover,.menu-toggle:hover{
  background-color: rgba(126, 126, 126, 0.405);
  transition: 0.7s all;
  padding: 6px 15px;
  border-radius: 5px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
  margin-top: 5%;
}

/* Media queries */
@media (max-width: 1200px) {
  nav ul {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.9);
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  }


  nav ul.active {
      display: flex;
      transform: translateX(0);
  }

  nav ul li {
      margin: 20px 0;
  }

  .menu-toggle {
      display: block;
      position: absolute;
      right: 3%;
      font-size: 20px;
      margin-right: 3%;
      width: 10%;

  }



  
  .ico img, #icon1, #icon2 {
    display: none;
  }

  



}



.BGV{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  }


  video{
    filter: grayscale(20%);
  }


  .home{
    color: rgb(255, 255, 255);
    margin-top: -44px;
    text-align: center;

  }

  #Y
  {
    font-size: 45px;
    font-weight: 500;

  }

  #Pr{

    font-size: 22px;
    font-weight: 400;
    margin-top: -40px;
  }

  #L{
    margin-top: -12px;
    font-size: 14px;

  }

.bo{
 padding-top: 26%;
 text-align: center;
}

button{
  margin: 1%;
  width: 16%;
  padding: 0.8%;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}




#demo{
  color: white;
  border: 3px solid white;
  background-color: transparent;
}

#shop:hover
{
  background-color: black ;
  color: white;
  border: 4px solid rgb(0, 0, 0);
}

#demo:hover
{
  background-color: rgb(255, 255, 255) ;
  color: rgb(0, 0, 0);
}


#lp{
  color: white;
  font-size: 14px;
  text-align: center;

}

.pl
{
  text-align: center;
}

#ll{
  color: white;
  font-size: 13px;
  margin-top: -20px;
  text-decoration: none;
  

}


.portion
{

  padding: 5%;
}


/*---------------------------------------------------------------SECTION-2 CODE----------------------------------------------------------------------------------------*/

section{

  height: 100vh;
  position: relative;
  overflow: auto;

}

.bg-v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}




/* Tablet Devices */
@media (max-width: 1024px) {
  .bo {
    padding-top: 40%;
  }

  button {
    width: 30%;
    padding: 1.2%;
  }

  #Y {
    font-size: 40px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 20px;
  }

  #L {
    font-size: 13px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 5%;
    font-size: 20px;
    width: 15%;

}


}

/* Mobile Devices */
@media (max-width: 768px) {
  .portion {
    margin-top: 20%;
  }

  .bo {
    padding-top: 40%;
  }

  button {
    width: 70%;
    padding: 2%;
    margin: 2% 0;
  }

  #Y {
    font-size: 36px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 18px;
  }

  #L {
    font-size: 12px;
  }

  #lp, #ll {
    font-size: 12px;
  }

  .nav-container {
    padding: 0 10px;
    margin: 2%;

  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 20px;
    width: 20%;

}


}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .portion {
    margin-top: 25%;
  }

  .bo {
    padding-top: 70%;
  }

  button {
    width: 90%;
    padding: 4%;
  }

  #Y {
    font-size: 32px;
    margin-bottom: 50px;
  }

  #Pr {
    font-size: 16px;
  }

  #L {
    font-size: 11px;
  }

  #lp, #ll {
    font-size: 11px;
  }


  .menu-toggle {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 20px;
    width: 25%;

}

}

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity as needed */
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5%;
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: rgb(0, 0, 0);

}



/* Media queries */
@media (max-width: 1200px) {
  nav ul {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.9);
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  }


  nav ul.active {
      display: flex;
      transform: translateX(0);
  }

  nav ul li {
      margin: 20px 0;
  }

  .menu-toggle {
      display: block;
      position: absolute;
      right: 4%;
      font-size: 20px;
      margin-right: 3%;
      width: 110px;
      margin-top: 5%;


      border: 2px solid rgb(0, 0, 0);

  }



  
  .ico img, #icon1, #icon2 {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }



}



  
  .bo{
   padding-top: 26%;
   text-align: center;
  }
  
  button{
    margin: 1%;
    width: 16%;
    padding: 0.8%;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
 


  body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 5px;
  }
  
  #mileage, #email,#car-image
  {
      width: calc(97.5% - 20px);
      padding: 10px;
      border: 2.5px solid #ababab;
      border-radius: 4px;
      margin-right: 5px;
      font-size: 15px;
      margin-top: 15px;
  
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  .form-group label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 17px;
  }
  
  .form-group input {
      width: auto;
      padding: 10px;
      border: 2.5px solid #949494;
      border-radius: 4px;
      margin-right: 5px;
      font-size: 15px;
      margin-top: 15px;
  }
  
  .form-group select
  {
      width: calc(100% - 10px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 5px;
      font-size: 15px;
  }
  
  
  
  
  .form-group input.hidden {
      display: none;
  }
  
  .form-group select:focus,
  .form-group select.selected,
  .form-group input:focus {
      border: 2.5px solid green;
  }
  
  
  
  
  .option-box {
      display: inline-block;
      padding: 15px 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 5px;
      cursor: pointer;
  }
  
  .option-box.selected {
      border: 2.5px solid green;
      color: green;
      font-weight: 600;
  }
  
  .hidden {
      display: none;
  }
  
  .submit-btn {
      display: block;
      margin: 30px auto;
      width: 60%;
      padding: 10px;
      background-color: #00d058;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 20px;
      cursor: pointer;
       ;
  }
  
  
  
  .submit-btn {
    /* Existing styles from previous example */
    display: block;
    margin: 30px auto;
    width: 60%;
    padding: 10px;
    background-color: #00d058;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
  }
  
  .submit-btn:hover {
    background-color: #32cd70;
  }
  
  .submit-btn:active {
    background-color: #034e28; 
  }
  
  
  
  
  
  
  .submit-btn:disabled {
      background-color: #ccc;
  }
  
  .form-group select option {
    padding: 10px; 
  }













  .car-license-popup-button {
    position: fixed;
    top: 10%; 
    right: 20px;
    height: 40px;
    background: linear-gradient(240deg, #232323, #494949);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: top 0.3s ease-in-out;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 15px;
    color: white;
    width: 120px;
}
.car-license-popup-button.car-visible {
    top: 20px;
}
.car-license-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.car-license-popup-content {
    width: 55%;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 90%;
    height: auto;
    color: black;
}
.car-license-popup-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
.car-license-close-button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    padding: 10px 20px;
    background: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
}
.car-license-close-button:hover {
    background: #2980b9;
}
.car-license-show-popup {
    display: flex;
}








footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }
}

*{

  font-family: "Roboto", sans-serif;

}

  


body{
  margin: 0;
  padding: 0;
}



#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9);
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

nav ul li:hover,.menu-toggle:hover{
  background-color: rgba(126, 126, 126, 0.405);
  transition: 0.7s all;
  padding: 6px 15px;
  border-radius: 5px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
}

/* Logo and icons styles */
#logo {
  width: 120px;
  margin: 1%;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

  }

  nav ul.active {
    display: flex;
    transform: translateX(0);
  }

  nav ul li {
    margin: 20px 0;
    
  }

  nav ul li a {
    margin: 20px 0;
    color: #ffffff;
    
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 3%;
    font-size: 20px;
    margin-right: 3%;
    width: 110px;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .ico img, #icon1, #icon2 {
    display: none;
  }


  .section-1
  {
    margin-top: 10%;
    max-width: 65%;
  }


}




/* Additional media queries for smaller screens */
@media (max-width: 768px) {
  .nav-container {
    padding: 0 10px;
    margin: 2%;
  }

  .menu-toggle {

    width: 80px;
    padding: auto;
  }

  .section-1
  {
    margin-top: 50%;
  }


}

@media (max-width: 480px) {
  .menu-toggle {
    right: 5%;
    width: 70px;
    padding: 6px;
    font-size: 17px;
  }
}
 
@media (max-width: 350px) {
  .menu-toggle {
    right: 7%;
    width: 60px;
    padding: 5px;
    font-size: 15px;

  }
}
 

/* Section-1 ------------------ */

.section-1
{
  float: left;
  max-width: 70%;
  margin-top: 5%;
  height: 100vh;
}

.imgsc
{
margin: 10%;
margin-top: 20%;
}

.imgsc img
{
width: 100%;

}








/* Specified Section */

.car-details {
background-color: #fff;
padding: 20px;
text-align: center;
margin-top: 3%;

}

.car-details h2 {
margin-bottom: 40px;
font-size: 40px;
}

.car-details .specs {
display: flex;
justify-content: space-around;
margin-bottom: 40px;
}

.car-details .specs div {
font-size: 16px;
}

.purchase-options {
display: flex;
justify-content: center;
margin-bottom: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

.purchase-options div {
margin: 0 30px;
cursor: pointer;
font-size: 14px;
position: relative;
}

.purchase-options div::after {
content: '';
position: absolute;
bottom: -10px;
left: 0;
right: 0;
height: 2px;
background-color: black;
transform: scaleX(0);
transition: transform 0.3s;
}

.purchase-options div.active::after {
transform: scaleX(1);
}

.price-options {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

.price-options div {
border: 1px solid #ccc;
padding: 15px;
width: 100%;
max-width: 300px;
margin-bottom: 10px;
cursor: pointer;
border-radius: 5px;
font-size: 14px;
}

.price-options div.selected {
background-color: #ffffff;
border: 3px solid #007bff ;
font-weight: bold;
}

.feature-details {
background-color: #e7e7e7;
color: #333;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
font-size: 14px;
}

.feature-details:hover {
background-color: #1d1d1d;
color: #ffffff;
}

.toggle-section {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.toggle-switch {
margin-left: 10px;
position: relative;
display: inline-block;
width: 34px;
height: 20px;
}

.toggle-switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #007bff;
}

input:checked + .slider:before {
transform: translateX(14px);
}

.all
{
padding: 5%;
}











@media (max-width: 1200px) {
nav li {
    display: inline-block;
}

.section-1
{
  margin-top: 20%;
  max-width: 65%;
}

}

@media (max-width: 1000px) {

.section-1
{
  margin-top: 20%;
  max-width: 65%;
}

}



@media (max-width: 880px) {
#logo {
    width: 100px;
}
.ico img {
    width: 25px;
}
#icon1 {
    width: 30px;
}
#icon2 {
    width: 20px;
}
.section-1 {
    max-width: 100%;
    height: auto;
    margin-top: 15%;
}

}


@media (max-width: 768px) {


}


@media (max-width: 480px) {
#logo {
    width: 80px;
}
.ico img {
    width: 20px;
}
#icon1 {
    width: 25px;
}
.imgsc img {
    width: 100%;
}
.car-details h2 {
    font-size: 30px;
}
.car-details .specs div {
    font-size: 14px;
}
.purchase-options div {
    margin: 10px 0;
}
.price-options div {
    font-size: 12px;
    padding: 10px;
}
button {
    width: 100%;
}
/* Add other styles specific to 480px and below */
}

/* Media query for 370px and below */
@media (max-width: 370px) {
#logo {
    width: 60px;
}
.ico img {
    width: 15px;
}
#icon1 {
    width: 20px;
}
.car-details h2 {
    font-size: 24px;
}
.car-details .specs div {
    font-size: 12px;
}
.price-options div {
    font-size: 10px;
    padding: 8px;
}
button {
    font-size: 12px;
}
/* Add other styles specific to 370px and below */
}

/* Media query for 200px and below */
@media (max-width: 200px) {
#logo {
    width: 40px;
}
.ico img {
    width: 10px;
}
#icon1 {
    width: 15px;
}
.car-details h2 {
    font-size: 18px;
}
.car-details .specs div {
    font-size: 10px;
}
.price-options div {
    font-size: 8px;
    padding: 6px;
}
button {
    font-size: 10px;
}
/* Add other styles specific to 200px and below */
}

footer {
background-color: #333;
color: #fff;
padding: 50px 0;
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
flex-wrap: wrap;
margin-top: 3%;
}

.footer-section {
flex: 1;
margin: 10px;
}

.footer-section h4 {
margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
margin: 0;
padding: 0;
list-style: none;
}

.footer-section ul li {
margin-bottom: 5px;
}

.social-icons {
display: flex;
gap: 10px;
}

.social-icons li {
display: inline;
}

.social-icons img {
width: 24px;
height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
.footer-container {
    flex-direction: column;
    align-items: center;
}

.footer-section {
    text-align: center;
}
}

*{

  font-family: "Roboto", sans-serif;

}


body{
  margin: 0;
  padding: 0;
}


#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9);
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

nav ul li:hover,.menu-toggle:hover{
  background-color: rgba(126, 126, 126, 0.405);
  transition: 0.7s all;
  padding: 6px 15px;
  border-radius: 5px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
}

/* Logo and icons styles */
#logo {
  width: 120px;
  margin: 1%;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

  }

  nav ul.active {
    display: flex;
    transform: translateX(0);
  }

  nav ul li {
    margin: 20px 0;
    
  }

  nav ul li a {
    margin: 20px 0;
    color: #ffffff;
    
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 3%;
    font-size: 20px;
    margin-right: 3%;
    width: 110px;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .ico img, #icon1, #icon2 {
    display: none;
  }


  .section-1
  {
    margin-top: 10%;
    max-width: 65%;
  }


}




/* Additional media queries for smaller screens */
@media (max-width: 768px) {
  .nav-container {
    padding: 0 10px;
    margin: 2%;
  }

  .menu-toggle {

    width: 80px;
    padding: auto;
  }

  .section-1
  {
    margin-top: 50%;
  }


}

@media (max-width: 480px) {
  .menu-toggle {
    right: 5%;
    width: 70px;
    padding: 6px;
    font-size: 17px;
  }
}
 
@media (max-width: 350px) {
  .menu-toggle {
    right: 7%;
    width: 60px;
    padding: 5px;
    font-size: 15px;

  }
}
 

/* Section-1 ------------------ */

.section-1
{
  float: left;
  max-width: 70%;
  margin-top: 5%;
  height: 100vh;
}

.imgsc
{
margin: 10%;
margin-top: 20%;
}

.imgsc img
{
width: 100%;

}








/* Specified Section */

.car-details {
background-color: #fff;
padding: 20px;
text-align: center;
margin-top: 3%;

}

.car-details h2 {
margin-bottom: 40px;
font-size: 40px;
}

.car-details .specs {
display: flex;
justify-content: space-around;
margin-bottom: 40px;
}

.car-details .specs div {
font-size: 16px;
}

.purchase-options {
display: flex;
justify-content: center;
margin-bottom: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

.purchase-options div {
margin: 0 30px;
cursor: pointer;
font-size: 14px;
position: relative;
}

.purchase-options div::after {
content: '';
position: absolute;
bottom: -10px;
left: 0;
right: 0;
height: 2px;
background-color: black;
transform: scaleX(0);
transition: transform 0.3s;
}

.purchase-options div.active::after {
transform: scaleX(1);
}

.price-options {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

.price-options div {
border: 1px solid #ccc;
padding: 15px;
width: 100%;
max-width: 300px;
margin-bottom: 10px;
cursor: pointer;
border-radius: 5px;
font-size: 14px;
}

.price-options div.selected {
background-color: #ffffff;
border: 3px solid #007bff ;
font-weight: bold;
}

.feature-details {
background-color: #e7e7e7;
color: #333;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
font-size: 14px;
}

.feature-details:hover {
background-color: #1d1d1d;
color: #ffffff;
}

.toggle-section {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.toggle-switch {
margin-left: 10px;
position: relative;
display: inline-block;
width: 34px;
height: 20px;
}

.toggle-switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #007bff;
}

input:checked + .slider:before {
transform: translateX(14px);
}

.all
{
padding: 5%;
}











@media (max-width: 1200px) {
nav li {
    display: inline-block;
}

.section-1
{
  margin-top: 20%;
  max-width: 65%;
}

}

@media (max-width: 1000px) {

.section-1
{
  margin-top: 20%;
  max-width: 65%;
}

}



@media (max-width: 880px) {
#logo {
    width: 100px;
}
.ico img {
    width: 25px;
}
#icon1 {
    width: 30px;
}
#icon2 {
    width: 20px;
}
.section-1 {
    max-width: 100%;
    height: auto;
    margin-top: 15%;
}

}


@media (max-width: 768px) {


}


@media (max-width: 480px) {
#logo {
    width: 80px;
}
.ico img {
    width: 20px;
}
#icon1 {
    width: 25px;
}
.imgsc img {
    width: 100%;
}
.car-details h2 {
    font-size: 30px;
}
.car-details .specs div {
    font-size: 14px;
}
.purchase-options div {
    margin: 10px 0;
}
.price-options div {
    font-size: 12px;
    padding: 10px;
}
button {
    width: 100%;
}
/* Add other styles specific to 480px and below */
}

/* Media query for 370px and below */
@media (max-width: 370px) {
#logo {
    width: 60px;
}
.ico img {
    width: 15px;
}
#icon1 {
    width: 20px;
}
.car-details h2 {
    font-size: 24px;
}
.car-details .specs div {
    font-size: 12px;
}
.price-options div {
    font-size: 10px;
    padding: 8px;
}
button {
    font-size: 12px;
}
/* Add other styles specific to 370px and below */
}

/* Media query for 200px and below */
@media (max-width: 200px) {
#logo {
    width: 40px;
}
.ico img {
    width: 10px;
}
#icon1 {
    width: 15px;
}
.car-details h2 {
    font-size: 18px;
}
.car-details .specs div {
    font-size: 10px;
}
.price-options div {
    font-size: 8px;
    padding: 6px;
}
button {
    font-size: 10px;
}
/* Add other styles specific to 200px and below */
}











.car-license-popup-button {
  position: fixed;
  top: 10%; 
  right: 20px;
  height: 40px;
  background: linear-gradient(240deg, #232323, #494949);
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: top 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  color: white;
  width: 120px;
}
.car-license-popup-button.car-visible {
  top: 20px;
}
.car-license-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.car-license-popup-content {
  width: 55%;
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 90%;
  height: auto;
  color: black;
}
.car-license-popup-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.car-license-close-button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  background: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 14px;
}
.car-license-close-button:hover {
  background: #2980b9;
}
.car-license-show-popup {
  display: flex;
}








footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }
}

/*---------------------------------------------------------------SECTION-1 CODE----------------------------------------------------------------------------------------*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#logo {
  width: 120px;
  margin: 1%;
  cursor: pointer;
}

.ico {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
}

.ico img {
  width: 30px;
  margin-right: 10px;
}

#icon1 {
  width: 37px;
}

#icon2 {
  width: 27px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s, background-color 0.9s;
  z-index: 1000;
}

header.scrolling {
  background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity as needed */
}

header.static {
  background-color: transparent;
}

nav {
  padding-top: 0.5%;
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5%;
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: rgb(0, 0, 0);

}




.filter-toggle {
  margin-top: 3%;
  display: none;
  font-size: 20px;
  float: right;
  margin-right: 3%;
  background-color: transparent;
  background-color: #00000010;


}


/* Media queries */
@media (max-width: 1200px) {
  nav ul {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.9);
      padding-top: 60px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  }


  nav ul.active {
      display: flex;
      transform: translateX(0);
  }

  nav ul li {
      margin: 20px 0;
  }

  .menu-toggle {
      display: block;
      position: absolute;
      right: 4%;
      font-size: 20px;
      margin-right: 3%;
      width: 110px;
      margin-top: 5%;


      border: 2px solid rgb(0, 0, 0);

  }



  
  .ico img, #icon1, #icon2 {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }



}



  
  .bo{
   padding-top: 26%;
   text-align: center;
  }
  
  button{
    margin: 1%;
    width: 16%;
    padding: 0.8%;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
 
   
  
/*  section{
  
    height: 100vh;
    position: relative;
  
  }*/


/*---------------------------------------------------------------Product-Page----------------------------------------------------------------------------------------*/
  
#ph
{
    font-size: 40px;
    font-weight: 500;
    margin-top: 8%;
    margin-left: 2.5%;
}
  



#R
{
    font-weight: 500;
    color: rgb(72, 71, 71);
    margin-bottom: 20px;

}

#pl2
{
    margin-top: -30px;
    font-size: 13px;
    font-weight: 500;
    color:rgb(72, 71, 71);

}

.left
{
    
    height: 100%;
    margin-left: 1%;
    font-size: 16px;
    font-weight: 500;

}




.other{
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}


/*------------------------------------------------------------Product Portion---------------------------------------------------------------------*/

.Co {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  
}

.Pcontainer
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  

}

.Plist {
  background-color: #ffffff;
  border-radius: 20px;
  border: solid 1px white;
  margin: 10px;
  width: 48%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.Pheader{
  background-color: #ffffff;
  padding: 10px;

}

.Pheader h2 {
  margin: 0;
  padding: 0;
}

.Pbody img
{
  width: 80%;

}

.Pfooter {
  text-align: center;
  padding: 10px;
  background-color: rgb(98, 161, 212);
}








@media (max-width: 1300px) 
{

  .Pcontainer
  {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
  
  }

  .color-box 
{
    width:30px;
    height:30px;
    
}

  
  .Plist {
    background-color: #ffffff;
    border-radius: 20px;
    border: solid 1px white;
    margin: 10px;
    width: 46%;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
  }

}



/* Responsive styles */
@media (max-width: 1200px) {
    nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
        width: 110px;
    }

    .ico {
        display: none;
    }

    .filter-toggle {
        display: block;
        width: 110px;
        margin-right: 4%;
        margin-top: 20px;
    }

    .bhalf {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        transition: left 0.3s ease-in-out;
        z-index: 1001;
        overflow-y: auto;
        
    }

    .bhalf.active {
        left: 0;
    }

    .Pcontainer {
        width: 95%;
    }
}

@media (max-width: 768px) {
    
   .Plist {
        width: auto;

    }
    .Pcontainer {
      width: 85%;
  }
    .filter-toggle {
      display: block;
      width: 110px;
      margin-right: 4%;
      margin-top: 20px;
  }
}

@media (max-width: 480px) {
    #ph {
        font-size: 30px;
    }
    .filter-toggle {
      display: block;
      width: 110px;
      margin-right: 4%;
      margin-top: 20px;
  }
  .menu-toggle {
    display: block;
    background: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    width: 110px;
  
  }

  .Plist {
    width: auto;

}
.Pcontainer {
  width: 90%;
}
  
}



.Plist {
  position: relative;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.Plist:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay a {
  width: 75%;
  padding: 13px 20px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.order-now-btn {
  width: 75%;
  padding: 13px 20px;
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.order-now-btn:hover {
  background-color: black;
  color: white;
  border: none;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: 3%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }
}

#nav-menu li a{
  color: gray;
}

body, html{
  overflow: auto;
}

footer{
  margin-top: 50px;
}

div .bhalf{
  scroll-behavior: none;
  height: 400px;
}


.Pcontainer{
  transform: translateY(-400px);
}

/*Big Tablet Devices */
@media (max-width: 1200px) {
  .Pcontainer{
    transform: translateY(50px);
  }
}

/* Tablet Devices */
@media (max-width: 1024px) {
  .Pcontainer{
    transform: translateY(50px);
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .Pcontainer{
    transform: translateY(50px);
    
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .Pcontainer{
    transform: translateY(50px);
  }
}
